/* Icons from directory "" */
.icon-aston,.icon-aston\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-aston-dims{width:60px;height:46px}
.icon-audi,.icon-audi\:regular{background-image:url('icons/icons.png');background-position:0 -46px;background-repeat:no-repeat}
.icon-audi-dims{width:64px;height:24px}
.icon-bmw,.icon-bmw\:regular{background-image:url('icons/icons.png');background-position:0 -70px;background-repeat:no-repeat}
.icon-bmw-dims{width:60px;height:60px}
.icon-ferrari,.icon-ferrari\:regular{background-image:url('icons/icons.png');background-position:0 -130px;background-repeat:no-repeat}
.icon-ferrari-dims{width:47px;height:66px}
.icon-lambo,.icon-lambo\:regular{background-image:url('icons/icons.png');background-position:0 -196px;background-repeat:no-repeat}
.icon-lambo-dims{width:60px;height:61px}
.icon-mb,.icon-mb\:regular{background-image:url('icons/icons.png');background-position:0 -257px;background-repeat:no-repeat}
.icon-mb-dims{width:60px;height:61px}