/* Icons from directory "" */
.icon-Logotype_full,.icon-Logotype_full\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-Logotype_full-dims{width:192px;height:59px}
.icon-call,.icon-call\:regular{background-image:url('icons/icons.png');background-position:0 -59px;background-repeat:no-repeat}
.icon-call-dims{width:11px;height:13px}
.icon-dollar,.icon-dollar\:regular{background-image:url('icons/icons.png');background-position:0 -72px;background-repeat:no-repeat}
.icon-dollar-dims{width:49px;height:46px}
.icon-envelope,.icon-envelope\:regular{background-image:url('icons/icons.png');background-position:0 -118px;background-repeat:no-repeat}
.icon-envelope-dims{width:11px;height:13px}
.icon-facebook,.icon-facebook\:regular{background-image:url('icons/icons.png');background-position:0 -131px;background-repeat:no-repeat}
.icon-facebook-dims{width:25px;height:26px}
.icon-instagram,.icon-instagram\:regular{background-image:url('icons/icons.png');background-position:0 -157px;background-repeat:no-repeat}
.icon-instagram-dims{width:25px;height:26px}
.icon-linkedin,.icon-linkedin\:regular{background-image:url('icons/icons.png');background-position:0 -183px;background-repeat:no-repeat}
.icon-linkedin-dims{width:25px;height:26px}
.icon-logo,.icon-logo\:regular{background-image:url('icons/icons.png');background-position:0 -209px;background-repeat:no-repeat}
.icon-logo-dims{width:58px;height:59px}
.icon-lupa,.icon-lupa\:regular{background-image:url('icons/icons.png');background-position:0 -268px;background-repeat:no-repeat}
.icon-lupa-dims{width:31px;height:31px}
.icon-man,.icon-man\:regular{background-image:url('icons/icons.png');background-position:0 -299px;background-repeat:no-repeat}
.icon-man-dims{width:49px;height:46px}
.icon-triangle,.icon-triangle\:regular{background-image:url('icons/icons.png');background-position:0 -345px;background-repeat:no-repeat}
.icon-triangle-dims{width:49px;height:46px}
.icon-twitter,.icon-twitter\:regular{background-image:url('icons/icons.png');background-position:0 -391px;background-repeat:no-repeat}
.icon-twitter-dims{width:25px;height:26px}